[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
pyjwt = "*"
injector = "*"
marshmallow = "*"
flask-bcrypt = "*"
psycopg2 = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
